<h1>Calculator</h1>
<hr />
<section>
  <div class="input_area"><h2 id="answer">0</h2></div>
  <div class="btn dark"><button type="button" id="AC">AC</button></div>
  <div class="btn dark"><button type="button" class="operatorButton" id="plusorminus" >+/-</button></div>
  <div class="btn dark"><button type="button" class="operatorButton" id="modulus">%</button></div>
  <div class="btn orange"><button type="button"  class="operatorButton" id="divide">/</button></div>
  <div class="btn"><button type="button" class="numButton" id="7">7</button></div>
  <div class="btn"><button type="button" class="numButton" id="8">8</button></div>
  <div class="btn"><button type="button" class="numButton" id="9">9</button></div>
  <div class="btn orange"><button type="button" class="operatorButton" id="multiply">x</button></div>
  <div class="btn"><button type="button" class="numButton" id="4">4</button></div>
  <div class="btn"><button type="button" class="numButton" id="5">5</button></div>
  <div class="btn"><button type="button" class="numButton" id="6">6</button></div>
  <div class="btn orange"><button type="button" class="operatorButton" id="minus">-</button></div>
  <div class="btn"><button type="button" class="numButton" id="1">1</button></div>
  <div class="btn"><button type="button" class="numButton" id="2">2</button></div>
  <div class="btn"><button type="button" class="numButton" id="3">3</button></div>
  <div class="btn orange"><button type="button" class="operatorButton" id="plus">+</button></div>
  <div class="btn large"><button type="button" class="numButton" id="0">0</button></div>
  <div class="btn"><button type="button" class="numButton" id="point">.</button></div>
  <div class="btn orange"><button type="button" id="equals">=</button></div>
  </section>
